<!DOCTYPE html>
<html>
<head>
    <title>潘潘之家</title>
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .item{
            height: 80px;
            max-width: 950px;
            min-width: 600px;
            display: flex;
            flex-direction: column;
            background: #efefef;
            justify-content: center;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px;

        }
    </style>
</head>
<body>
 {% if data %}
    {{data.length}}
    {% for item in data %}
    <li class="item">
        <span>{{item.title}}</span>
        <span>价格: {{item.price}} w</span>
        <a href="{{item.link}}" target="_blank" >{{item.link}}</a>
        <span>{{item.desc}}</span>
    </li>
    {% endfor%}
 {% endif %}
</body>
</html>